h1 {
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
background-image: url("js_banner.png");
}

h4 {
    font-weight: normal;
}

#brushes {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: darkolivegreen;
}

#frames {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: maroon;
}

 #paint {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: skyblue;
 }
